$primaryColor: rgb(77, 76, 76);
$lineChartColor: #1077e1;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
}

.container {
  display: flex;
  min-height: 50%;
  justify-content: space-between;

  &:first-child {
    border-bottom: 1px solid $primaryColor;
  }
}

.chart-group-wrapper {
  flex-direction: column;
  align-items: center;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  margin-top: 20px;
}

.graph .grid {
  stroke: black;
  stroke-dasharray: 0;
  stroke-width: 2;
}

.graph .value-lines {
  stroke: rgba(0, 0, 0, 0.253);
  stroke-dasharray: 5;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: $lineChartColor;
  stroke-width: 10;

  circle:hover {
    cursor: pointer;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  width: 50%;
  justify-content: space-between;

  .btn {
    padding: 7px;
    border: 1px solid $primaryColor;
    border-radius: 3px;
    outline: none;
    font-weight: 600;
    background-color: white;
    color: $primaryColor;

    &:hover {
      cursor: pointer;
      background-color: cornflowerblue;
      color: white;
      border-color: white;
    }
  }
}

.chart-wrapper {
  padding: 20px 0;
  width: 30%;
}

.line-chart {
  .data {
    circle {
      // fill: none;
      stroke-width: 2;
      stroke: $lineChartColor;
      transition: 0.6s all;
      opacity: 0.8;
    }
  }

  path {
    fill: none;
    stroke: $lineChartColor;
    stroke-width: 2;
    transition: d 0.6s;
    opacity: 0.8;
  }
}

.pie-chart {
  transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;

  path {
    transition: d 0.6s;
  }
}

.bar {
  fill: $lineChartColor;
  opacity: 0.3;
}