$primaryColor: rgb(77, 76, 76);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
}

.container {
  display: flex;
  min-height: 50%;
  justify-content: space-between;

  &:first-child {
    border-bottom: 1px solid $primaryColor;
  }
}

.chart-group-wrapper {
  flex-direction: column;
  align-items: center;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  margin-top: 20px;
}

.graph .grid {
  stroke: black;
  stroke-dasharray: 0;
  stroke-width: 2;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 10;

  circle:hover {
    cursor: pointer;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  width: 50%;
  justify-content: space-between;

  .btn {
    padding: 7px;
    border: 1px solid $primaryColor;
    border-radius: 3px;
    outline: none;
    font-weight: 600;
    background-color: white;
    color: $primaryColor;

    &:hover {
      cursor: pointer;
      background-color: cornflowerblue;
      color: white;
      border-color: white;
    }
  }
}

.chart-wrapper {
  padding: 20px 0;
  width: 30%;
}

.pie-chart {
  transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;
  // display: block;

  .pie {
    fill: #ddd;
    // stroke: $primaryColor;
    // stroke-width: 100;
    // stroke-dasharray: 0 158;
    // stroke-dashoffset: 50;
    transition: stroke-dasharray 0.3s ease;
  }
}

.bar {
  fill: #a9a9a9;
  opacity: 0.6;
}

// .line {
//   animation: change_fill 1s, popup 2s;
// }

// @keyframes reduce_radius {
//   from {
//     stroke-width: 2;
//   }

//   to {
//     stroke-width: 20;
//   }
// }

// @keyframes change_fill {
//   0% {
//     stroke: #49549E;
//   }

//   75% {
//     stroke: #1bceb1;
//   }

//   100% {
//     stroke: #1bce4f;
//   }
// }
